<style>

@font-face {
	font-family: 'Univers LT Std';
	font-style: normal;
	font-weight: 200;
	src: local('Univers LT Std 47 Cn Lt'), local('Univers LT Std 47 Cn Lt'), url('{{ site_url }}/assets/edevis/font/UniversLTStd-LightCn.otf') format('opentype');
}

@font-face {
	font-family: 'Univers LT Std';
	font-style: oblique;
	font-weight: 200;
	src: local('Univers LT Std 47 Cn Lt'), local('Univers LT Std 47 Cn Lt'), url('{{ site_url }}/assets/edevis/font/UniversLTStd-LightCnObl.otf') format('opentype');
}


@font-face {
	font-family: 'Univers LT Std';
	font-style: normal;
	font-weight: normal;
	src: local('Univers LT Std 57 Cn'), local('Univers LT Std 57 Cn'), url('{{ site_url }}/assets/edevis/font/UniversLTStd-Cn.otf') format('opentype');
}

@font-face {
	font-family: 'Univers LT Std';
	font-style: oblique;
	font-weight: normal;
	src: local('Univers LT Std 57 Cn'), local('Univers LT Std 57 Cn'), url('{{ site_url }}/assets/edevis/font/UniversLTStd-CnObl.otf') format('opentype');
}

@font-face {
	font-family: 'Univers LT Std';
	font-style: normal;
	font-weight: bold;
	src: local('Univers LT Std'), local('Univers LT Std'), url('{{ site_url }}/assets/edevis/font/UniversLTStd-BoldCn.otf') format('opentype');
}

@font-face {
	font-family: 'Univers LT Std';
	font-style: oblique;
	font-weight: bold;
	src: local('Univers LT Std'), local('Univers LT Std'), url('{{ site_url }}/assets/edevis/font/UniversLTStd-BoldCnObl.otf') format('opentype');
}

@font-face {
	font-family: 'Univers LT Pro';
	font-style: normal;
	font-weight: bold;
	src: local('Univers LT Pro'), local('Univers LT Pro'), url('{{ site_url }}/assets/edevis/font/UniversLTPro-XBlack.otf') format('opentype');
}

</style>